body {
  color: c(black);
  font-size: 16px;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  background-color: rgba(c(black), 0.025);

  &.-demoView {
    font-size: vw(20);
  }
}

img {
  vertical-align: bottom;
}

ol,
ul {
  list-style: none inside;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}
