input.u-hide#btn3ExposeToggle(type="checkbox")
label.p-exposeToggle(for="btn3ExposeToggle")
  span.p-exposeToggle__text.-doExposeOff どうやってやってるのかわかる方を隠す
  span.p-exposeToggle__text.-doExposeOn どうやってやってるのか見る

a.p-btn8(href="#demo-8")
  span.p-btn8__line
  | MORE

a.p-btn8.-exposed(href="#demo-8")
  span.p-btn8__line
  | MORE
