.
  .p-btn1 {
    /* ボタンのスタイルは省略 */
    background-color: #fff;
  }

  .p-btn1:hover,
  .p-btn1:focus {
    background-color: tomato;
  }

  .p-btn1.-transition {
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
