.
  .p-btn5 {
    /* demo-4と同じ */
  }

  .p-btn5::before {
    /* demo-4と同じ */
  }

  .p-btn5:hover::before,
  .p-btn5:focus::before {
    /* demo-4と同じ */
  }

  .p-btn5.-multiProp {
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function:
      /* easeOutExpo */
      cubic-bezier(0.19, 1, 0.22, 1);
  }

  .p-btn5.-multiProp:hover,
  .p-btn5.-multiProp:focus {
    box-shadow: inset 0 0 0 30px tomato;
  }
