.
  .p-btn2 {
    /* ボタンのスタイルは省略 */
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }

  .p-btn2:hover,
  .p-btn2:focus {
    background-color: tomato;
  }

  .p-btn2.-easeInExpo {
    transition-timing-function:
      /* easeInExpo */
      cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }
