input.u-hide#easeListDuration05(type="radio" name="duration" checked)
input.u-hide#easeListDuration1(type="radio" name="duration")
input.u-hide#easeListDuration3(type="radio" name="duration")
input.u-hide#easeListSortToggle(type="checkbox")
input.u-hide#easeListAllAnimToggle(type="checkbox")
input.u-hide#easeListLoopToggle(type="checkbox")
input.u-hide#easeListPauseToggle(type="checkbox")

.p-cssTab
  .p-cssTab__control
    label.p-cssTab__btn(for="easeListDuration05")
      span.p-cssTab__text.-duration05 0.5s
    label.p-cssTab__btn(for="easeListDuration1")
      span.p-cssTab__text.-duration1 1s
    label.p-cssTab__btn(for="easeListDuration3")
      span.p-cssTab__text.-duration3 3s
  .p-cssTab__control
    label.p-cssTab__btn(for="easeListSortToggle")
      span.p-cssTab__text.-doSortInOut in/outで並び替える
      span.p-cssTab__text.-doSortRate 変化度合いで並び替える
    label.p-cssTab__btn(for="easeListAllAnimToggle")
      span.p-cssTab__text.-doAnimOff transitionを戻す
      span.p-cssTab__text.-doAnimOn transitionさせる
    label.p-cssTab__btn(for="easeListLoopToggle")
      span.p-cssTab__text.-doLoopOff animationをやめる
      span.p-cssTab__text.-doLoopOn animationさせる
    label.p-cssTab__btn(for="easeListPauseToggle")
      span.p-cssTab__text.-doPauseOff animationを再開
      span.p-cssTab__text.-doPauseOn animationを停止

  .p-cssTab__content#sortInOut
    ul.p-easeList
      li.p-easeList__item
        p.p-easeList__name ease
        a.p-easeList__width.-ease(href="#demo-3")
        a.p-easeList__color.-ease(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name ease-in
        a.p-easeList__width.-ease-in(href="#demo-3")
        a.p-easeList__color.-ease-in(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInSine
        a.p-easeList__width.-easeInSine(href="#demo-3")
        a.p-easeList__color.-easeInSine(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInQuad
        a.p-easeList__width.-easeInQuad(href="#demo-3")
        a.p-easeList__color.-easeInQuad(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInCubic
        a.p-easeList__width.-easeInCubic(href="#demo-3")
        a.p-easeList__color.-easeInCubic(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInQuart
        a.p-easeList__width.-easeInQuart(href="#demo-3")
        a.p-easeList__color.-easeInQuart(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInQuint
        a.p-easeList__width.-easeInQuint(href="#demo-3")
        a.p-easeList__color.-easeInQuint(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInExpo
        a.p-easeList__width.-easeInExpo(href="#demo-3")
        a.p-easeList__color.-easeInExpo(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInCirc
        a.p-easeList__width.-easeInCirc(href="#demo-3")
        a.p-easeList__color.-easeInCirc(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInBack
        a.p-easeList__width.-easeInBack(href="#demo-3")
        a.p-easeList__color.-easeInBack(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name ease-out
        a.p-easeList__width.-ease-out(href="#demo-3")
        a.p-easeList__color.-ease-out(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutSine
        a.p-easeList__width.-easeOutSine(href="#demo-3")
        a.p-easeList__color.-easeOutSine(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutQuad
        a.p-easeList__width.-easeOutQuad(href="#demo-3")
        a.p-easeList__color.-easeOutQuad(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutCubic
        a.p-easeList__width.-easeOutCubic(href="#demo-3")
        a.p-easeList__color.-easeOutCubic(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutQuart
        a.p-easeList__width.-easeOutQuart(href="#demo-3")
        a.p-easeList__color.-easeOutQuart(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutQuint
        a.p-easeList__width.-easeOutQuint(href="#demo-3")
        a.p-easeList__color.-easeOutQuint(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutExpo
        a.p-easeList__width.-easeOutExpo(href="#demo-3")
        a.p-easeList__color.-easeOutExpo(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutCirc
        a.p-easeList__width.-easeOutCirc(href="#demo-3")
        a.p-easeList__color.-easeOutCirc(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutBack
        a.p-easeList__width.-easeOutBack(href="#demo-3")
        a.p-easeList__color.-easeOutBack(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name ease-in-out
        a.p-easeList__width.-ease-in-out(href="#demo-3")
        a.p-easeList__color.-ease-in-out(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutSine
        a.p-easeList__width.-easeInOutSine(href="#demo-3")
        a.p-easeList__color.-easeInOutSine(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutQuad
        a.p-easeList__width.-easeInOutQuad(href="#demo-3")
        a.p-easeList__color.-easeInOutQuad(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutCubic
        a.p-easeList__width.-easeInOutCubic(href="#demo-3")
        a.p-easeList__color.-easeInOutCubic(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutQuart
        a.p-easeList__width.-easeInOutQuart(href="#demo-3")
        a.p-easeList__color.-easeInOutQuart(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutQuint
        a.p-easeList__width.-easeInOutQuint(href="#demo-3")
        a.p-easeList__color.-easeInOutQuint(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutExpo
        a.p-easeList__width.-easeInOutExpo(href="#demo-3")
        a.p-easeList__color.-easeInOutExpo(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutCirc
        a.p-easeList__width.-easeInOutCirc(href="#demo-3")
        a.p-easeList__color.-easeInOutCirc(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutBack
        a.p-easeList__width.-easeInOutBack(href="#demo-3")
        a.p-easeList__color.-easeInOutBack(href="#demo-3")

  .p-cssTab__content#sortRate
    ul.p-easeList
      li.p-easeList__item
        p.p-easeList__name ease
        a.p-easeList__width.-ease(href="#demo-3")
        a.p-easeList__color.-ease(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name ease-in
        a.p-easeList__width.-ease-in(href="#demo-3")
        a.p-easeList__color.-ease-in(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name ease-out
        a.p-easeList__width.-ease-out(href="#demo-3")
        a.p-easeList__color.-ease-out(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name ease-in-out
        a.p-easeList__width.-ease-in-out(href="#demo-3")
        a.p-easeList__color.-ease-in-out(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInSine
        a.p-easeList__width.-easeInSine(href="#demo-3")
        a.p-easeList__color.-easeInSine(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutSine
        a.p-easeList__width.-easeOutSine(href="#demo-3")
        a.p-easeList__color.-easeOutSine(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutSine
        a.p-easeList__width.-easeInOutSine(href="#demo-3")
        a.p-easeList__color.-easeInOutSine(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInQuad
        a.p-easeList__width.-easeInQuad(href="#demo-3")
        a.p-easeList__color.-easeInQuad(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutQuad
        a.p-easeList__width.-easeOutQuad(href="#demo-3")
        a.p-easeList__color.-easeOutQuad(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutQuad
        a.p-easeList__width.-easeInOutQuad(href="#demo-3")
        a.p-easeList__color.-easeInOutQuad(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInCubic
        a.p-easeList__width.-easeInCubic(href="#demo-3")
        a.p-easeList__color.-easeInCubic(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutCubic
        a.p-easeList__width.-easeOutCubic(href="#demo-3")
        a.p-easeList__color.-easeOutCubic(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutCubic
        a.p-easeList__width.-easeInOutCubic(href="#demo-3")
        a.p-easeList__color.-easeInOutCubic(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInQuart
        a.p-easeList__width.-easeInQuart(href="#demo-3")
        a.p-easeList__color.-easeInQuart(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutQuart
        a.p-easeList__width.-easeOutQuart(href="#demo-3")
        a.p-easeList__color.-easeOutQuart(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutQuart
        a.p-easeList__width.-easeInOutQuart(href="#demo-3")
        a.p-easeList__color.-easeInOutQuart(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInQuint
        a.p-easeList__width.-easeInQuint(href="#demo-3")
        a.p-easeList__color.-easeInQuint(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutQuint
        a.p-easeList__width.-easeOutQuint(href="#demo-3")
        a.p-easeList__color.-easeOutQuint(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutQuint
        a.p-easeList__width.-easeInOutQuint(href="#demo-3")
        a.p-easeList__color.-easeInOutQuint(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInExpo
        a.p-easeList__width.-easeInExpo(href="#demo-3")
        a.p-easeList__color.-easeInExpo(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutExpo
        a.p-easeList__width.-easeOutExpo(href="#demo-3")
        a.p-easeList__color.-easeOutExpo(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutExpo
        a.p-easeList__width.-easeInOutExpo(href="#demo-3")
        a.p-easeList__color.-easeInOutExpo(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInCirc
        a.p-easeList__width.-easeInCirc(href="#demo-3")
        a.p-easeList__color.-easeInCirc(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutCirc
        a.p-easeList__width.-easeOutCirc(href="#demo-3")
        a.p-easeList__color.-easeOutCirc(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutCirc
        a.p-easeList__width.-easeInOutCirc(href="#demo-3")
        a.p-easeList__color.-easeInOutCirc(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInBack
        a.p-easeList__width.-easeInBack(href="#demo-3")
        a.p-easeList__color.-easeInBack(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeOutBack
        a.p-easeList__width.-easeOutBack(href="#demo-3")
        a.p-easeList__color.-easeOutBack(href="#demo-3")
      li.p-easeList__item
        p.p-easeList__name easeInOutBack
        a.p-easeList__width.-easeInOutBack(href="#demo-3")
        a.p-easeList__color.-easeInOutBack(href="#demo-3")
