.p-code {
  @at-root {
    & {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: c(black);
    }

    .p-code__header {
      padding: 20px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      background-color: c(pink);

      .-demoView & {
        padding: vw(10) vw(20);
        font-size: vw(24);
      }
    }

    .p-code__body {
      flex: 1 0 auto;
      margin: 30px;
      overflow-x: auto;

      .-demoView & {
        margin: vw(10);
      }
    }

    .p-code__pre {
    }

    .p-code__code {
      color: #fff;
      font-family: "Roboto Mono";
      line-height: 1.25;
    }
  }
}
