.p-cssTab {
  @at-root {
    & {
      position: relative;
      padding: 10px 0;
      width: 100%;
    }

    .p-cssTab__control {
      display: flex;
      flex-wrap: wrap;
      & + & {
        margin-top: 10px;
      }
    }

    .p-cssTab__btn {
      display: flex;
      cursor: pointer;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }

    .p-cssTab__text {
      display: flex;
      align-items: center;
      padding-right: 6px;
      padding-left: 6px;
      border: 1px solid c(black);
      border-radius: 4px;
      font-size: 14px;
      line-height: 2;
      white-space: nowrap;
      background-color: rgba(c(green), 0.2);

      #easeListDuration05:checked ~.p-cssTab &.-duration05,
      #easeListDuration1:checked ~.p-cssTab &.-duration1,
      #easeListDuration3:checked ~.p-cssTab &.-duration3 {
        background-color: rgba(c(carmine), 0.5);
      }


      &.-doSortInOut {
        display: inline;
        #easeListSortToggle:checked ~ .p-cssTab & {
          display: none;
        }
      }
      &.-doSortRate {
        display: none;
        #easeListSortToggle:checked ~ .p-cssTab & {
          display: inline;
        }
      }
      &.-doAnimOff {
        display: none;
        #easeListAllAnimToggle:checked ~ .p-cssTab & {
          display: inline;
        }
      }
      &.-doAnimOn {
        display: inline;
        #easeListAllAnimToggle:checked ~ .p-cssTab & {
          display: none;
        }
      }
      &.-doLoopOff {
        display: none;
        #easeListLoopToggle:checked ~ .p-cssTab & {
          display: inline;
        }
      }
      &.-doLoopOn {
        display: inline;
        #easeListLoopToggle:checked ~ .p-cssTab & {
          display: none;
        }
      }
      &.-doPauseOff {
        display: none;
        #easeListLoopToggle:checked + #easeListPauseToggle:checked ~ .p-cssTab & {
          display: inline;
        }
      }
      &.-doPauseOn {
        display: none;
        #easeListLoopToggle:checked ~ .p-cssTab & {
          display: inline;
        }
        #easeListLoopToggle:checked + #easeListPauseToggle:checked ~ .p-cssTab & {
          display: none;
        }
      }
    }

    .p-cssTab__content {
      margin-top: 15px;
      &#sortRate {
        display: block;
      }
      &#sortInOut {
        display: none;
      }

      #easeListSortToggle:checked ~ .p-cssTab & {
        &#sortRate {
          display: none;
        }
        &#sortInOut {
          display: block;
        }
      }
    }

  }
}
