.p-shareList {
  @at-root {
    & {
      display: flex;

      .p-hang__body & {
        margin-left: 30px;

        .-demoView & {
          margin-left: vw(30);
        }
      }
    }

    .p-shareList__item {
      & + & {
        margin-left: 30px;

        .-demoView & {
          margin-left: vw(30);
        }
      }
    }

    a.p-shareLink__link {
      color: c(pink);
      text-decoration: underline;
    }
  }
}
