.p-title {
  @at-root {
    & {
      display: flex;
      align-items: center;
      min-height: 75px;
      color: #fff;

      .-demoView & {
        min-height: vw(75);
      }
    }

    .p-title__main {
      margin-right: 15px;
      padding: 10px 0;
      font-size: 24px;

      .-demoView & {
        margin-left: vw(15);
        padding: vw(0);
        font-size: vw(24);
      }
    }

    .p-title__sub {
      margin-left: auto;
      font-size: 16px;

      .-demoView & {
        font-size: vw(14);
      }
    }
  }
}
