.p-viewChange {
  @at-root {
    & {
      position: sticky;
      z-index: 3;
      top: 0;
    }

    .p-viewChange__inner {
      position: absolute;
      top: 15px;
      right: 155px;
      display: flex;
      align-items: center;
      border-radius: 8px;
      color: #fff;
      background-color: rgba(#000, 0.75);

      .-demoView & {
        top: vw(10);
        right: vw(140);
        padding: vw(10);
        border-radius: vw(8);
      }
    }

    .p-viewChange__btn {
      @extend %reset-Button;
      cursor: pointer;
      padding: 15px;
      font-size: 16px;
      line-height: 1;

      .-demoView & {
        padding: vw(15);
        font-size: vw(12);
      }
    }
  }
}
