.p-btn8 {
  @at-root {
    & {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 25px 40px 25px 140px;
      border: 1px solid #000;
      color: #000;
      font-size: 60px;
    }

    & + & {
      margin-top: 30px;
    }

    .p-btn8__line {
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 100%;
      overflow: hidden;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2px;
        width: 100%;
        height: 4px;
        background-color: #000;
      }

      &::after {
        transform: translateX(-100%);
      }

      .p-btn8:hover &::before,
      .p-btn8:focus &::before {
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: $easeOutExpo;
        transform: translateX(100%);
      }

      .p-btn8:hover &::after,
      .p-btn8:focus &::after {
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: $easeOutExpo;
        transition-delay: 0.5s;
        transform: translateX(0);
      }
    }


    // どうやってるのかわかる用のスタイル
    & {
      margin-bottom: 178px;

      #btn3ExposeToggle:checked ~ & {
        margin-bottom: 0;
      }
    }
    &.-exposed {
      display: none;
      #btn3ExposeToggle:checked ~ & {
        display: inline-flex;
        margin-bottom: 0;
      }

      .p-btn8__line {
        background-color: rgba(yellow, 0.2);
        overflow: visible;

        &::before,
        &::after {
          margin-top: -8px;
          height: 16px;
        }

        &::before {
          background-color: c(blue);
        }

        &::after {
          background-color: c(carmine);
        }
      }
    }

  }
}
