<%

%><!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%= title %></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= desc %>">

<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="/assets/style/style.css">

<script src="/assets/script/what-input.min.js"></script>
<script src="/assets/script/jquery.min.js"></script>
</head>
<body>
  <%- include('../_partial/_header') %>

  <main role="main" class="l-main">

  </main>
  <%- include('../_partial/_footer') %>
</body>
</html>
