footer.l-footer
  .l-footer__inner
    .p-credit
      p.p-credit__license
        small MIT License.
      .p-credit__address
        address.p-address
          p.p-address__heading#contact contact
          ul.p-address__list
            li.p-address__item
              a.p-address__link(href="https://maboroshi.biz/staff/ito.html", target="_blank") 伊藤由暁（株式会社まぼろし）
            li.p-address__item
              a.p-address__link(href="mailto:otiext@gmail.com") otiext@gmail.com
            li.p-address__item
              a.p-address__link(href="https://github.com/oti/lp58", target="_blank") Repogitory
            li.p-address__item
              a.p-address__link(href="https://github.com/oti", target="_blank") GitHub
            li.p-address__item
              a.p-address__link(href="https://twitter.com/o_ti", target="_blank") Twitter
            li.p-address__item
              a.p-address__link(href="https://www.facebook.com/otiext", target="_blank") Facebook
            li.p-address__item
              a.p-address__link(href="https://www.instagram.com/otiext", target="_blank") instagram

script(src="./assets/script/script.js")
include _analytics
