header.l-header
  .l-header__inner
    .p-title
      h1.p-title__main 現場で役立つCSSアニメーション 〜オンラインデモ〜
      p.p-title__sub
        time(datetime="2018-09-29" aria-label="2018年9月29日") 2018-09-29
        |  in CSS Nite LP58「Coder's High 2018」
