-
  var _titleText = (_id === "top") ? _sitename : _title+" | "+_sitename

head
  meta(charset="utf-8")
  title #{_titleText}
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content=_desc)
  link(rel="shortcut icon", href="favicon.ico")
  link(rel="stylesheet", href="./assets/style/style.css")
  link(rel="canonical", href=_permalink)

  script(src="./assets/script/rainbow.min.js")

  if _noindex
    meta(name="robots", content="noindex")
