nav.p-sectionNav
  .p-sectionNav__inner
    input.u-hide#sectionNav(type="checkbox")
    h2.p-sectionNav__heading
      label.p-sectionNav__toggler(for="sectionNav") インデックス
    ul.p-sectionNav__list
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#top") top
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-1") demo-1
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-2") demo-2
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-3") demo-3
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-4") demo-4
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-5") demo-5
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-6") demo-6
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-7") demo-7
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-8") demo-8
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-9") demo-9
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#demo-10") demo-10
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#contact") contact
      li.p-sectionNav__item
        a.p-sectionNav__link(href="#top") top
